MARIADB_DATABASE=wordpress
MARIADB_WP_USER=wp_user
DOMAIN_NAME=<login>.42.fr
USER_LOGIN=<login>
WP_TITLE=<wptitle>
WP_ADMIN=changeme
WP_ADMIN_EMAIL=ch@nge.me
WP_USER=<username>
WP_USER_EMAIL=<useremail@gmail.com>